@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row col-9 shadow p-lg-5 bg-white rounded-3 m-auto" style="background-image: url('@Url.Content("~/image/backgound-login.jpg")'); background-repeat: no-repeat;">
    <h2 class="text-center text-light">Bạn đã quên mật khẩu?</h2>
    <h4 class="text-light">Nhập Email của bạn.</h4>
    <hr class="text-center text-light" />
    <div class="col-md-8 m-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}