body,
.signin {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.active {
    cursor: pointer;
}

.nonactive {
    cursor: pointer;
}

.login {
    position: relative;
    max-height: 800px;
    width: 405px;
    margin: auto;
    margin-top: 200px;
    padding: 60px 60px;
    background: url(https://picsum.photos/id/1004/5616/3744) no-repeat center center #505050;
    background-size: cover;
    box-shadow: 0px 15px 30px -5px #000;
    border-radius: 20px;
    color: white;
}

.form-login {
    margin-top: 20px;
}

.header-content {
    display: flex;
    justify-content: space-around;
}

.active {
    border-bottom: 2px solid #1161ed;
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    padding-left: 0px;
}

.nonactive {
    color: rgba(255, 255, 255, 0.2);
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}


.lable-input {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
}

#input-value {
    border: none;
    width: 95%;
    padding: 10px 20px;
    display: block;
    height: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
}


#input-value:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}


#input-value:focus + span {
    opacity: 0.6;
}

input[type="email"],
input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

input {
    display: inline-block;
    padding-top: 30px;
    font-size: 14px;
}

h2,
span,
.custom-checkbox {
    margin-left: 20px;
}


label {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
}

.signin {
    background-color: #1161ed;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
}

.signin:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.signin:focus {
    outline: none;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

a {
    text-align: center;
    display: block;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.2);
}

.faild {
    color: red;
    justify-content: center;
    padding: 0;
}
.success {
    color: lawngreen;
    justify-content: center;
    padding: 0;
}